.page-container {
  background-image: linear-gradient(
    to bottom,
    rgb(240, 41, 41),
    white,
    rgb(61, 80, 147)
  );
  padding: 8vh 5vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 89vw;
}
.login-title {
  color: rgb(61, 80, 147);
}
.img-container {
  width: 30vw;
  height: 80vh;
  padding-left: 3%;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.vote {
  margin-top: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 3vh;
  height: 75vh;
  width: 30vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2.5vh 1vw;
  background-color: white;
}
.user-img {
  width: 10vw;
  height: 20vh;
  border-radius: 10%;
  border: 3px solid rgb(61, 80, 147);
}

.login-btn {
  width: 10vw;
  background-color: rgb(61, 80, 147);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1vw;
  margin-left: 50%;
}

.input-feild {
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid rgb(255, 199, 181);
  padding: 1vh 2vw;
  font-size: 15px;
}
.label-feild {
  color: rgb(61, 80, 147);
}

@media (max-width: 500px) {
  .page-container {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: green;
    align-items: center;
  }
  .login-form {
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 71vw;
    height: 60vh;
    align-items: center;
  }
  .login-title {
    font-size: 25px;
    text-align: center;
  }
  .label-feild {
    font-size: 16px;
    text-align: center;
  }
  .input-feild {
    border-radius: 3px;
    font-size: 12px;
  }
  .login-btn {
    font-size: 20px;
    width: 20vw;
    margin-left: 0;
  }

  .img-container {
    width: 70vw;
    height: 20vh;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .vote {
    height: 20vh;
    width: 60vw;
    margin-top: 0;
    margin-left: 4vw;
  }
}

@media (max-width: 600px) and (min-width: 501px) {
  .page-container {
    width: 90vw;
  }
  .login-title {
    font-size: 25px;
  }
  .label-feild {
    font-size: 16px;
  }
  .input-feild {
    border-radius: 3px;
    font-size: 12px;
  }
  .login-btn {
    font-size: 2vw;
  }

  .img-container {
    width: 40vw;
  }
}

@media (max-width: 800px) and (min-width: 601px) {
  .page-container {
    width: 90vw;
  }
  .login-form {
    height: 60vh;
  }
  .img-container {
    height: 65vh;
  }
  .login-title {
    font-size: 35px;
  }
  .label-feild {
    font-size: 20px;
  }
  .input-feild {
    border-radius: 4px;
    font-size: 16px;
  }
  .login-btn {
    font-size: 20px;
    width: 15vw;
    margin: 0;
  }

  .img-container {
    width: 40vw;
  }
}
